<div class="playground">
  <div class="playground__tip">
    <app-uniterm [isVertical]="true">
      <p left>{{ a }}</p>
    </app-uniterm>
    <app-uniterm [isVertical]="false">
      <p left>{{ b }}</p>
    </app-uniterm>
  </div>
  <div class="playground__content">
    <app-uniterm [isVertical]="true">
      <p left *ngIf="change === 'down'" [ngStyle]="{ fontSize: fontSize }">
        {{ expressionA }}
      </p>
      <app-uniterm left [isVertical]="false" *ngIf="change === 'up'">
        <p left [ngStyle]="{ fontSize: fontSize }">{{ expressionB }}</p>
      </app-uniterm>
      <p center [ngStyle]="{ fontSize: fontSize }">{{ operationSequence }}</p>
      <p right *ngIf="change === 'up'" [ngStyle]="{ fontSize: fontSize }">
        {{ expressionA }}
      </p>
      <app-uniterm right [isVertical]="false" *ngIf="change === 'down'">
        <p left [ngStyle]="{ fontSize: fontSize }">{{ expressionB }}</p>
      </app-uniterm>
    </app-uniterm>
  </div>
</div>
