:host {
  display: contents;
}

.playground {
  grid-area: playground;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;

  &__tip {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
  }
}
