<div class="form-wrapper">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="wyrazenieA">Wyrażenie A:</label>
        <input
          id="wyrazenieA"
          formControlName="wyrazenieA"
          type="text"
          [(ngModel)]="a"
          (input)="onInput()"
        />
      </div>

      <div>
        <label for="wyrazenieB">Wyrażenie B:</label>
        <input
          id="wyrazenieB"
          formControlName="wyrazenieB"
          type="text"
          [(ngModel)]="b"
          (input)="onInput()"
        />
      </div>

      <div>
        <label for="wyrazenieSekw">Wyrażenie sekw.:</label>
        <input id="wyrazenieSekw" formControlName="wyrazenieSekw" type="text" />
      </div>

      <div>
        <label>Operacja sekw.:</label>
        <div>
          <label>
            <input formControlName="operacjaSekw" type="radio" value="kropka" />
            .
          </label>
          <label>
            <input
              formControlName="operacjaSekw"
              type="radio"
              value="średnik"
            />
            ;
          </label>
        </div>
      </div>

      <div>
        <label>Zmiana:</label>
        <div>
          <label>
            <input formControlName="zamiana" type="radio" value="lewy" /> Lewy
          </label>
          <label>
            <input formControlName="zamiana" type="radio" value="prawy" /> Prawy
          </label>
        </div>
      </div>

      <div>
        <label for="fontSize">Font Size:</label>
        <select id="fontSize" formControlName="fontSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>

      <div class="buttons">
        <button type="submit">Pokaż</button>
        <button type="button" (click)="zapiszDoBazy()">Zapisz do bazy</button>
      </div>
    </form>
  </div>
</div>
