<div class="form-wrapper">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="expressionA">Wyrażenie A:</label>
        <input
          id="expressionA"
          formControlName="expressionA"
          type="text"
          [(ngModel)]="a"
          (input)="onInput()"
        />
      </div>

      <div>
        <label for="expressionB">Wyrażenie B:</label>
        <input
          id="expressionB"
          formControlName="expressionB"
          type="text"
          [(ngModel)]="b"
          (input)="onInput()"
        />
      </div>

      <div>
        <label>Operacja sekw.:</label>
        <div>
          <label>
            <input formControlName="operationSequence" type="radio" value="." />
            .
          </label>
          <label>
            <input formControlName="operationSequence" type="radio" value=";" />
            ;
          </label>
        </div>
      </div>
      <div>
        <label>Zmiana:</label>
        <div>
          <label>
            <input
              formControlName="changeDescription"
              type="radio"
              value="up"
            />
            Góra
          </label>
          <label>
            <input
              formControlName="changeDescription"
              type="radio"
              value="down"
            />
            Dół
          </label>
        </div>
      </div>

      <div>
        <label for="fontSize">Font Size:</label>
        <select id="fontSize" formControlName="fontSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>

      <div class="buttons">
        <button type="submit">Pokaż</button>
        <button type="button" (click)="zapiszDoBazy()">Zapisz do bazy</button>
      </div>
    </form>
  </div>
</div>
